@import '@/common/css/variable.scss';

.operate-item:hover {
  cursor: pointer;
  text-decoration: underline;
}
.operate-divide {
  margin: 0 5px;
}

.good-info input {
  font-size: 24px;
  color: $color-red;
}

.record-time {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.printPanel {
  display: flex;
  justify-content: center;
  font-family: Arial, Microsoft YaHei, SimHei, SimSun;
}