$color-shallowgray: #f1f1f1;
$color-gray: #dcdcdc;
$color-deepgray: #999;

$color-shallowblack: #404559;
$color-black: #333;

$color-shalloworigin: #fecd8a;
$color-origin: #facd49; // #eb6100;
$color-deeporigin: #d45801;

$color-white: #ffffff;
$color-blue: #409EFF;
$color-green: #67C23A;

$color-red: #ff0000;
$color-yellow: yellow;